//- topbar.pug
nav.topbar
	a(href="/") Home
	a(href="/fleet/my/ships") Fleet
	a(href="/fleet/my/ships/navigate") Navigate
	a(href="/systems/current/view") Systems
	a(href="/contracts/view") Contracts
	a(href="/global/status/view") Global